body, html {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
* {
  margin: 0;
}
/*--------------------------------------------------------------
global
--------------------------------------------------------------*/
input, textarea, select, a, button { outline: none; }
input, textarea, select, a, button:focus { outline:none; }
input, textarea, select, a, button:active { outline: none; }
ul, li {list-style-type: none;}

/*--------------------------------------------------------------
fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'ModernicaLight';
  src: url(../fonts/ModernicaLight.woff) format("woff");
/* bad-script-regular - latin_cyrillic */
  font-family: 'Bad Script';
   src: url(../fonts/BadScript-Regular.ttf) format("truetype"); 
  }

/*--------------------------------------------------------------
home
--------------------------------------------------------------*/

svg {
  transform-style: preserve-3d;
}
#gate_left {
  transform-origin: 0px 0px;
  transform-box: fill-box;
  transform-origin: 0% 0%;
  transform: rotate3d(0,1,0, 0deg);
  /* transition: all 3s; */
}
#gate_right {
  transform-origin: 100% 100%;
  transform-box: fill-box;
  transform-origin: 100% 100%;
  transform: rotate3d(0,1,0, 0deg);
  /* transition: all 3s; */
}

#gate_left.open { 
  transform: rotate3d(0,1,0, -90deg)
}  
#gate_right.open { 
  transform: rotate3d(0,1,0, 90deg)
}
.scroll_wraper{
position: fixed;
width: 100%;
height: 100vh;
overflow: hidden;
}

.scroll_line {
  width: 100%;
  height: 1500vh;
  }
.scroll_canvas{
  background-color:#fffbef;
  width: 300%;
  height: 700vh;
  position: absolute;
}

.seed_opener {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.opener_wrapper{
  height: 100vh;
  /* width: 100vw; */
  background-color: #0a6149;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  flex: 33.33%;
}
.seed_opener_left, .seed_opener_right {
  height: 100vh;
  /* width: 100vw; */
  flex: 33.33%;
}
.opener_wrapper>img{
  height: 80vh;
  width: auto;
}
.slogan_wrapper{
color: #ffffff;
width: 100vw;
height: fit-content;
position: fixed;
left: 0;
top: 0;
z-index: 3;
background-color: #d2b48c;
}
.slogan_wrapper h2{
text-align: center;
font-family: 'Oswald', sans-serif;
font-weight: 500;
font-size: 2.5rem;
}
.seed_gate{
  height: 100vh;
  width: 100%;
  display: flex;
}
.gate_left, .gate_right {
  height: 100vh;
  flex: 33.33%;
  /* width: 100vw; */
}

.gate_wrapper{
  height: 100vh;
  flex: 33.33%;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.gate_wrapper>svg{
  height: 70%;
  width: auto;
  z-index: 10;
}
.gate_text{
  /* display: none; */
  padding-top: 3rem;
  width: 25vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}
.gate_content{
  background-color: #0a6149;
  height: 100%;
  width: 100%;
  /* margin: 0 0 0 auto; */
  padding: 20px;
}
.gate_content p{
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
font-weight: 400;
font-size: 1rem;
}
.gate_wrapper h2{
  position: absolute;
  width: 300px;
  font-family: 'Oswald', sans-serif;
font-weight: 500;
font-size: 2rem;
color: #0e624a;
text-align: center;
}

.seed_greenhouse {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  /* transform: translateX( -100vw); */
}
.greenhouse_wrapper {
  height: 100vh;
  flex: 33.33%;
  /* width: 100vw; */
  /* transform: translate( 100vw 0); */
  background-color: aqua; 
  display: flex;
  justify-content: center;
}
.greenhouse_wrapper svg{
  height: 100%;
  width: auto;
}  
.greenhouse_right, .greenhouse_left {
  height: 100vh;
  flex: 33.33%;
  /* width: 100vw; */
  background-color: #d2b48c;
}

.greenhouse_text {
  padding-top: 3rem;
  width: 25vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left:  0;
  background-color: #0a6149;
  color: #fff;
  
}



.svg_wrapper {
  width: 100%;
  height: 100vh;
}
.svg_wrapper svg {
  width: 100%;
  height: 100%;
}
.leaf_lite {
  /* animation: leaf_anim_lite 3s infinite; */
  transform-origin: 100% 100%;
  transform-box: fill-box;
} 


.seed_garden { 
  height: 100vh;
  width: 100%;
  display: flex;
  /* transform: translateX( -100vw); */
}

.garden_rignt, .garden_left { 
  height: 100vh;
  /* width: 100vw; */
  flex: 33.33%;
  background-color: #d2b400;
}
.garden_wrapper { 
  height: 100vh;
  width: 100vw;
  /* transform: translate( 100vw 0); */
  background-color: aqua; 
  display: flex;
  justify-content: center; 
  
}
.garden_wrapper svg {
  width: 100%;
  height: auto;
}
/* #grape>path {
  animation: grape_anim 5s infinite;
  transform-origin: 100% 100%;
  transform-box: fill-box;
} */
#crown_left>path {
  /* animation: crown 5s infinite; */
}
#crown_right>path {
  /* animation: crown 5s 1s infinite; */
}
#single {
  /* animation: fall 5s  2s infinite; */
}

.scroll_canvas{
  background-image: url(../img/road.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}


.seed_pond{
  height: 100vh;
  width: 100%;
  display: flex;
}
.pond_left, .pond_right {
  height: 100vh;
  flex: 33.33%;
  /* width: 100vw; */
}

.pond_wrapper{
  height: 100vh;
  flex: 33.33%;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.pond_wrapper>svg{
  height: 70%;
  width: auto;
  z-index: 10;
}

/*--------------------------------------------------------------
navigation
--------------------------------------------------------------*/
/*new*/
.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  /* top: 0; */
  left: 0;
  z-index: 90;
  overflow: scroll;
}

.wrapper::-webkit-scrollbar {
  display: none;
  }
.menu-btn {
  position: fixed;
  margin: 1.2em;
  right: 0;
  z-index: 95;
}
.menu {
  position: relative;
  transform: translate(0px, -100%);
  z-index: 90;
}
.menu.active {
  transform: translate(0px, 0px);
}
.united, .group {
  margin: 0 !important;
  padding: 0 !important;
  z-index: 90;
}
.group {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}
.group.overlay {
  background: #d2b48c;
  padding-top: 50px !important;
  top: -100%;
}

.nav_content ul {
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav_content li {
  display: block;
}
.navigation-bar{
  display: flex;
  flex-direction: column;
}
.animated-icon1{
  width: 35px;
  height: 20px;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span{
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
  background: #ce6149;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  right: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  right: 0;
  opacity: 0;
  right: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  right: 0;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.menu-item>a{
font-family: 'Oswald', sans-serif;
font-weight: 700;
font-size: 3rem;
color: white;
}

.nf-before-form-content{
display: none;
}

#nf-field-1,
#nf-field-2,
#nf-field-5{
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000000;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: #ffffff !important;
  padding-bottom: 0px;
}
#nf-field-1::placeholder,
#nf-field-2::placeholder,
#nf-field-3::placeholder,
#nf-field-5::placeholder{
  color: #ffffff !important;
}
.nf-error .nf-error-msg,
.nf-error-msg, .ninja-forms-req-symbol{
  color: #ce6149 !important;

}
.nf-error.field-wrap .nf-field-element:after{
  background: #ce6149 !important;
}
.nf-error #nf-field-1,
.nf-error #nf-field-2{
  border-bottom-color: #ce6149 !important;
}
#nf-field-3{
  background: transparent;
  border: 1px solid #000000;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: #ffffff !important;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 160px;
}

.nf-field-label,
.nf-label-field-2,
.nf-label-field-5{
  display: none;
}
li.page_item{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 2.3rem;
  color: #ffffff !important;
  text-transform: uppercase;
}
li.page_item a{
  text-decoration: none;
  color: #ffffff;
}
#nf-form-title-1>h3{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 2.3rem;
  color: #ce6149;
}
.nf-form-content button, .nf-form-content input[type=button], .nf-form-content input[type=submit]{
background-color: #ce6149 !important;
border-radius: 26px;
padding: 10px 50px;
}
/*--------------------------------------------------------------
about
--------------------------------------------------------------*/
.cofounder_portret img{
width: 100%;
height: auto;
}
.s_logo{
  width: 100%;
  height: 70px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-container{
  background-color: #d3e1cd;
    z-index: 1;
    position: relative;
    border-top-right-radius: 29px;
    border-top-left-radius: 29px;
    padding-top: 80px;
    -webkit-box-shadow: 0px 1px 15px 6px #5E5E5E; 
    box-shadow: 0px 1px 15px 6px #5E5E5E; 
}

.testimonials_wrapper>img{
  width: 50%;
  height: auto;
}
.testimonials_wrapper{
  background: #0a6149;
    border-radius: 29px;
    padding: 30px;
    color: #ffffff;
    margin: 50px 0;
}
/*--------------------------------------------------------------
servicies
--------------------------------------------------------------*/


/*--------------------------------------------------------------
contact
--------------------------------------------------------------*/


/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/


/*--------------------------------------------------------------
blog
--------------------------------------------------------------*/
.blog_title{
  position:absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.blog_title svg{
  width: 20vw;
}
/*--------------------------------------------------------------
responsive
--------------------------------------------------------------*/
/*xs*/
@media only screen and (max-width: 576px) {
  .about_wrap {
    overflow-x: scroll;
    height: 100vh;
  }
  .service_type {
    height: fit-content;
  }
  .close_button span {
    background: white;
  }
}
/*sm*/
@media screen and (min-width: 576px) and (max-width: 768px) {
  .about_wrap {
    overflow-x: scroll;
    height: 100vh;
  }
  .service_type {
    height: fit-content;
  }
  .close_button span {
    background: white;
  }
  
}
/*md*/
@media screen and (min-width: 768px) and (max-width: 992px){
  .about_wrap {
    overflow-x: scroll;
    height: 100vh;
  }
}

/*lg*/
@media screen and (min-width: 992px) and (max-width: 1200px) {

}
/*xl*/
@media screen and (min-width: 992px) and (max-width: 1200px) {

}



@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}



/*--------------------------------------------------------------
animation
--------------------------------------------------------------*/
@keyframes change_fill {
  0% { fill: #49549E; }
  75% { fill: #1bceb1; }
  100% { fill: #1bce4f; }
}

/* .k1 {
  animation: bounce 2s infinite ;
}

@keyframes bounce {
  from {
   transform: translate(0);
  }
  25% {
    transform: translate(10px);
  }
  50% {
    transform: translate(50px);
  }
  75% {
    transform: translate(10px);
  }
  to {
    transform: translate(0);
  }
} */

@keyframes crown {
  0% {transform: translateX(0px); }
  5% {transform: translateX(20px); }
  10% {transform: translateX(0px); }
  100% {transform: translateX(0px); }
}
@keyframes fall {
  0% {transform: translateY(0px);}
  30% {transform: translateY(150vh);} 
  100% {transform: translateY(150vh);}    
}
@keyframes leaf_anim_lite {
  0% {transform: rotate(0);}
  50% {transform: rotate(5deg);}
  100% {transform: rotate(0);}
}
@keyframes grape_anim {
  0% {transform: rotate(0);}
  5% {transform: rotate(30deg);}
  10% {transform: rotate(0deg);}
  100% {transform: rotate(0);}
}
